/* Button Block Base Style
=================================================*/
/* Universal Button Variant Styles
=================================================*/
#siteWrapper.site-wrapper .sqs-button-element--primary {
  padding: var(--primary-button-padding-y) var(--primary-button-padding-x);
}
#siteWrapper.site-wrapper .sqs-button-element--primary {
  border-width: var(--primary-button-stroke);
}
#siteWrapper.site-wrapper .sqs-button-element--primary {
  line-height: normal;
  border-style: solid;
}
/* Specific Button Style Overrides
=================================================*/
/* Button Block Style Tweak: Solid
=================================================*/
body.primary-button-style-solid .sqs-button-element--primary {
  transition: 0.1s opacity linear;
  -webkit-backface-visibility: hidden;
}
@media (hover: hover) {
  body.primary-button-style-solid .sqs-button-element--primary:hover {
    opacity: 0.8;
  }
}
/* Button Block Style Tweak: Outline
=================================================*/
/* Primary Button Shape Tweak: Square
=================================================*/
/* Primary Button Shape Tweak: Rounded
=================================================*/
/* Primary Button Shape Tweak: Pill
=================================================*/
.primary-button-shape-pill .sqs-button-element--primary {
  border-radius: 300px;
}
/* Primary Button Shape Tweak: Oval
=================================================*/
/* Primary Button Shape Tweak: Petal
=================================================*/
/* Button Block Shape Tweak: Underline
=================================================*/
/* Primary Button Shape Tweak: Custom
=================================================*/
/* Secondary Button Shape Tweak: Square
=================================================*/
/* Secondary Button Shape Tweak: Rounded
=================================================*/
/* Secondary Button Shape Tweak: Pill
=================================================*/
/* Secondary Button Shape Tweak: Oval
=================================================*/
/* Secondary Button Shape Tweak: Underline
=================================================*/
/* Secondary Button Shape Tweak: Petal
=================================================*/
/* Secondary Button Shape Tweak: Custom
=================================================*/
/* Tertiary Button Shape Tweak: Square
=================================================*/
/* Tertiary Button Shape Tweak: Rounded
=================================================*/
/* Tertiary Button Shape Tweak: Pill
=================================================*/
/* Tertiary Button Shape Tweak: Oval
=================================================*/
/* Tertiry Button Shape Tweak: Underline
=================x================================*/
/* Tertiary Button Shape Tweak: Petal
=================================================*/
/* Tertiary Button Shape Tweak: Custom
=================================================*/
/* Extended styling for Form block with support for tweaks
=================================================*/
/* Form Field Padding */
/* Form Field Fill Tweak: Solid
=================================================*/
/* Form Field Fill Tweak: Outline
=================================================*/
/* Form Field Shape Tweak: Square
=================================================*/
/* Form Field Shape Tweak: Rounded
=================================================*/
/* Form Field Shape Tweak: Pill
=================================================*/
.form-field-shape-pill {
  --pill-border-radius: calc(var(--form-field-padding-vertical) + var(--form-block-input-text-font-line-height) * 0.66);
  /* Form Field Border Tweak: None
  =================================================*/
  /* Form Field Border Tweak: All
  =================================================*/
  /* Form Field Border Tweak: Bottom
  =================================================*/
}
/* Form Field Shape Tweak: Custom
=================================================*/
/* Correct padding and border width for prefix element
=================================================*/
/* Form accessory
=================================================*/
/* Checkbox field */
/* Radio field */
/* Survey field */
/* Form Spacing
=================================================*/
/* Form focus outlines
=================================================*/
/* Form input color
=================================================*/
/* Line color (Survey field and Line field)
=================================================*/
/* Form lightbox background color
=================================================*/
/* Override theme colors for the lightbox form if use-theme-color is toggled off
=================================================*/
/* Override text area height
=================================================*/
/* Effects configuration
================================================= */
/* Grid Normalization
================================================= */
/* Effects base config
================================================= */
/* Hover/Focus states global config
================================================= */
/* Hover/Focus states opacity config (3 available types - accent, opacity, scale-up)
================================================= */
/* Border thickness increase effect
================================================= */
/* Opacity change effect
================================================= */
/* Accent color effect (transform)
================================================= */
/* Scale up effect (transform)
================================================= */
/* Highlight base config (3 available types - single-trace, double-trace, glow)
================================================= */
/* Single & Double Trace Highlight Styles
================================================= */
/* Note: Separate namespace for double trace so animation progress is not retained on switch */
/* Note: Separate namespace for double trace so animation progress is not retained on switch */
/* Glow Highlight Styles
================================================= */
/* SPINNER button (conic gradient)
=================================================*/
/* CIRCLE button (spinning circle)
=================================================*/
/* BAR & ELLIPSIS button submitted state style (shared)
=================================================*/
/* BAR button (indeterminate progress)
=================================================*/
/* ELLIPSIS button (3 dots)
=================================================*/
/* Button Block Base Style
=================================================*/
/* Universal Button Variant Styles
=================================================*/
#siteWrapper.site-wrapper .sqs-button-element--primary {
  padding: var(--primary-button-padding-y) var(--primary-button-padding-x);
}
#siteWrapper.site-wrapper .sqs-button-element--primary {
  border-width: var(--primary-button-stroke);
}
#siteWrapper.site-wrapper .sqs-button-element--primary {
  line-height: normal;
  border-style: solid;
}
/* Specific Button Style Overrides
=================================================*/
/* Button Block Style Tweak: Solid
=================================================*/
body.primary-button-style-solid .sqs-button-element--primary {
  transition: 0.1s opacity linear;
  -webkit-backface-visibility: hidden;
}
@media (hover: hover) {
  body.primary-button-style-solid .sqs-button-element--primary:hover {
    opacity: 0.8;
  }
}
/* Button Block Style Tweak: Outline
=================================================*/
/* Primary Button Shape Tweak: Square
=================================================*/
/* Primary Button Shape Tweak: Rounded
=================================================*/
/* Primary Button Shape Tweak: Pill
=================================================*/
.primary-button-shape-pill .sqs-button-element--primary {
  border-radius: 300px;
}
/* Primary Button Shape Tweak: Oval
=================================================*/
/* Primary Button Shape Tweak: Petal
=================================================*/
/* Button Block Shape Tweak: Underline
=================================================*/
/* Primary Button Shape Tweak: Custom
=================================================*/
/* Secondary Button Shape Tweak: Square
=================================================*/
/* Secondary Button Shape Tweak: Rounded
=================================================*/
/* Secondary Button Shape Tweak: Pill
=================================================*/
/* Secondary Button Shape Tweak: Oval
=================================================*/
/* Secondary Button Shape Tweak: Underline
=================================================*/
/* Secondary Button Shape Tweak: Petal
=================================================*/
/* Secondary Button Shape Tweak: Custom
=================================================*/
/* Tertiary Button Shape Tweak: Square
=================================================*/
/* Tertiary Button Shape Tweak: Rounded
=================================================*/
/* Tertiary Button Shape Tweak: Pill
=================================================*/
/* Tertiary Button Shape Tweak: Oval
=================================================*/
/* Tertiry Button Shape Tweak: Underline
=================x================================*/
/* Tertiary Button Shape Tweak: Petal
=================================================*/
/* Tertiary Button Shape Tweak: Custom
=================================================*/
/*
  Constants
  Role: A single location to organize variables that are utilized globally
*/
/*
  ================
  Z-index
  Role: Organize z-index overrides
  ================
*/
/*
  ================
  Breakpoints
  Role: Organize global breakpoint ranges
  ================
*/
/*
  ================
  Padding
  Role: Organize consistent padding
  ================
*/
/*
  ================
  Button
  Role: Organize button configurations
  ================
*/
/* These appear to be deprecated. */
/*
  ================
  Container
  Role: Container max width configuration
  ================
*/
/*
  ================
  Gallery Caption
  Role: gallery caption configuration
  ================
*/
/*===================================================
      GLOBAL ANIMATIONS

      Notes:
      - The reason why we want to use static CSS for pre-animation
      styling is because we want the pre-animation styling to be
      applied strictly before the post-animation styling is applied
      through the controller. This avoids a whole class of
      asynchronous issues.

      - tweak-global-animations-animation-curve: custom cubic-bezier value is so we can have easeOutExpo CSS style (https://easings.net/en#easeOutExpo)
 ===================================================*/
/*
 * Rule needed in order for clip and flex animations to work consistently for all image animation targets.
 * There are known edge cases in both Safari and Firefox's Intersection Observer when image or its parent container's
 * height is 0. Adding minimum height will allow the Intersection Observer to work in these 2 browsers.
 * This also fixes an issue in Chrome 97 where images with shapes in card/collage/overlap/stack layout do not render
 */
[data-animation-role="image"] {
  min-height: 1px;
}
